/* Page layout: General */

.page_frame_table {width:100%; border-style:none}
.page_frame_main_row {vertical-align:top;}
.page_frame_bottom_row {vertical-align:top;}
.page_frame_content_bar {vertical-align:top; background-color:#FFFFFF}
.page_frame_nav_bar {vertical-align:top; width:180px}
.page_frame_side_bar {vertical-align:top; width:238px; background-color:#CCCCCC;}

a {color: #1966a5}

/* Page Layout: Components */

#home {width:150px;height:117px;cursor:pointer;display:block; text-align:right; margin: 15px}
#home .graphic_link_caption {font-size:30px;color:#FFFFFF; text-decoration:none}
#home a {text-decoration:none}

#nav_bar .section {color:#CCCCCC;margin:0px 13px 0px 35px;}
#nav_bar h2 {font-size:12pt;font-weight:bold;text-transform:uppercase;margin:15px 0px 0px 0px;padding-bottom:7px;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#005D4C;}
#nav_bar .element {border-bottom-style:dotted;border-bottom-width:1px;border-bottom-color:#005D4C;width:130px;padding-top:3px;padding-bottom:3px;font-size:12pt;}
#nav_bar .element a {color:#CCCCCC}
#nav_bar_bottom {width:180px;height:87px;display:block}
#nav_bar_bottom_right {width:21px;height:81px;float:right;}

#site_services {width:180px}
#site_services a {display:block;padding-bottom:15px;}
#site_subsites {width:180px}

#overhead_area {height:50px; border:#666666 solid; border-width: 0px 0px 1px 0px}
#overhead_area .opening {height:20px;width:319px}
#overhead_area .closing {height:20px;width:22px}
#banner {display:none}

.page_frame_content_bar table {display:none; width:1px}

#bread_crumb_area {height:35px; font-size:10pt; color:#FFFFFF;overflow:hidden; border:#666666 solid; border-width: 0px 0px 0px 0px}
#bread_crumb_area .opening {height:35px;width:27px;display:inline;}
#bread_crumb_area .details {margin-left:-11px; }
#bread_crumb_area a {color:#000000}

#shortcut_area {position:absolute; top:9px; left:195px; font-size:10pt; color:#000000; width:450px;}
#shortcut_area .opening {}
#shortcut_area .details {display:inline; top:0px; float:none; font-weight:normal; }

#shortcut_area_2 {height:35px;width:238px;padding:0px 0px 0px 0px;font-size:8pt; color:#000000}
#search_bar_area .opening {height:116px;width:21px}
#shortcut_area_2 .details {padding:0px 0px 0px 20px}
#shortcut_area_2 .closing {}

#search_bar_area {height:85px;width:238px;padding:0px 0px 0px 0px;font-size:8pt; color:#000000; overflow:hidden}
#search_bar_area .opening {height:116px;width:21px}
#search_bar_area .details {padding-top:35px}
#search_bar_area .closing {height:0px;width:34px}
#search_bar_area hr {margin:0px; padding:0px; width:160px; height:2px}
.search_bar_input {display:inline;margin:0px; }
.search_bar_button {height:22px}

#page_header {height:92px}
#page_header .opening {height:59px;width:22px}
#page_header .details {margin-top:7px}

#page_footer {height:38px}
#page_footer .opening {height:38px;width:20px}
#page_footer .details {background-color:#FFFFFF;width:100%;}

#page_content {background-color:#FFFFFF; margin:0px 0px 0px 0px; width:100%}
#page_content .details {float:none; background-color:#FFFFFF;padding-left:15px;padding-right:15px;}
#page_content table{width:80%; background:#FFFFFF}

#content_area_bottom { height:30px; background:#ccdce8}
#content_area_bottom .opening { width:20px;height:30px}
#content_area_bottom .details {margin-top:5px}

#side_bar_header {height:27px;width:238px; padding:0px 0px 0px 20px}


#side_bar_content {background-color:#FFFFFF;}
#side_bar_content .details {width:100%}
#side_bar_content .entry {margin:2px 0px 0px 0px; width:183px}
#side_bar_content .framed {width:205px; margin:0px 0px 20px 0px; font-size:11pt;}
#side_bar_content .unframed {width:195px; margin: 0px 0px 0px 13px}
#side_bar_content input {clear:both; float: left}
#side_bar_content select {font-size:8pt; color:#666666}
#side_bar_content .option_name {display:block; font-size:12pt; color:#666666; margin: 3px 0px 0px 0px; width:160px; float:right}
#side_bar_content .framed h3 {color:#000000; margin:10px}
#side_bar_content .framed .opening {float:none; width:205px; height:25px}
#side_bar_content .framed .closing {width:205px; height:24px}
#side_bar_content .framed .details {margin:0px 0px 0px 0px; padding:0px 0px 0px 10px; width:193px; }
#side_bar_content .framed a {}
#side_bar_content .framed ul {}
#side_bar_content .framed_item {margin:15px 5px 10px 0px}

#side_bar_content .framed_micro {width:203px; border:#666666 solid; border-width:0px 0px 0px 1px; margin:30px 0px 0px 0px}
#side_bar_content .framed_micro h3 {color:#999999}
#side_bar_content .framed_micro .opening {display:none}
#side_bar_content .framed_micro .closing {display:none}
#side_bar_content .framed_micro .details {margin:0px 0px 0px 0px; padding:0px 0px 0px 10px; width:180px}
#side_bar_content .framed_micro a {color:#666666}
#side_bar_content .framed_micro ul {}

#side_bar_content .event_selector {width:182px; margin: 0px 0px 0px 10px; padding:5px; border:#ccdce8 2px solid; background:#FFFFFF}
#side_bar_content .event_selector h3 {margin:0px 0px 10px 0px}

#side_bar_content #blog_headline {width:182px; font-size:9pt; margin: 10px 0px 5px 10px; padding:5px; border:#ccdce8 1px solid}
#side_bar_content #blog_headline img {display: none}
#side_bar_content #blog_headline h3 {font-size:11pt; font-weight: bold; display: inline;}
#side_bar_content #blog_headline ul {float:left; margin:0px; padding-top: 5px}
#side_bar_content #blog_headline ul li { list-style:none; margin-bottom:5px;clear:both;}
#side_bar_content #blog_headline ul li .description {display: block; color: #333333;}
#side_bar_content #blog_headline ul li .date {color: #333333; font-size:7pt; padding-top: 2px; padding-bottom: 2px}

#side_bar_content #social_media {width:182px; margin: 20px 0px 10px 10px; display: block; font-size: 12px;}
#side_bar_content #social_media img {display: none;}
#side_bar_content #social_media .hidden_for_graphic {display: block; padding-left: 15px}

#side_bar_content #facebook {width:185px; font-size:8pt; margin: 0px 0px 5px 10px; padding:2px; border:1px solid #6A8CB8;}

#side_bar_bottom {height:30px; background:#ccdce8}
#side_bar_bottom .closing {width:44px;height:30px}


/* Page layout: Text formatting */
#site_subsites .section {margin-bottom: 10px}
#service_news_feed {font-weight:bold; font-size:18pt; color:#999999}
#service_email_librarian {font-weight:bold; font-size:18pt; color:#999999}
#link_catalogue {font-weight:bold; font-size:18pt; color:#999999}
#link_newsletter {font-weight:bold; font-size:18pt; color:#999999}
#link_teen_vortex {font-weight:bold; font-size:18pt; color:#999999}
#link_kid_zone {font-weight:bold; font-size:18pt; color:#999999}
#link_phone {font-weight:bold; font-size:18pt; color:#999999}
#renew_loans {font-weight:bold; font-size:18pt; color:#999999}

#link_translate {margin-left: 16px; display:block;}
#link_translate img {width:198px;height:28px;}

/* Site menu */

#menu_main {width:180px}
#site_menu_main_bottom {width:180px;height:36px}
.site_menu_main_item {width:127px;color:#FFFFFF;font-size:12pt;font-weight:bold; text-transform:uppercase;margin-left:35px; padding-top:6px; padding-bottom: 6px; padding-right: 3px; border-bottom-style:solid;border-bottom-width:1px; text-align:left}
.site_menu_main_item a {color:#FFFFFF; text-decoration:none}
.site_menu_main_item a:hover {color:#95cacc; text-decoration:none}
.site_menu_container {position:absolute; overflow:hidden; width:160px;z-index:100}
.site_menu {display:none; width:180px; top:200px; left:180px}
.site_menu .opening {background:url(/img/site_submenu_top.gif) no-repeat; width:160px;height:35px; float:none}
.site_menu .details {float:none; background-color:#1966a5; width:160px; height:400px}
.site_menu .closing {background:url(/img/site_submenu_bottom.gif) no-repeat; width:160px;height:26px; float:none}
.site_menu_item {width:133px; background-color:#1966a5;color:#FFFFFF;font-size:12pt;font-weight:normal;margin:0px 15px 0px 6px; padding:3px; border:#95cacc 1px; border-bottom-style:solid; text-align:left; font-weight:normal}
.site_menu_item a {color:#FFFFFF; text-decoration:none}
.site_menu_item a:hover {color:#95cacc; text-decoration:none}
.site_menu_level_1 {left:0px}
.site_menu_level_2 {left:180px; top:116px}
.site_menu_level_3 {left:330px; top:116px}
.site_menu_level_4 {left:480px; top:116px}


/* Spacing and aligning */

.opening {background-repeat:no-repeat;float:left;}
.details {float:left;}
.closing {background-repeat:no-repeat;float:right;}

.min_width {font-size:1pt;width:341px;height:1px;border-style:none;border-width:1px;border-color:#000000;}
.min_width_shortcuts {font-size:1pt;width:310px;height:1px;border-style:none;border-width:1px;border-color:#000000;}

.section_end {clear:both; margin:0px; font-size:1px}
.hidden {display:none}
.whole_width {position:absolute; width:528px}

#librarian_inquiry_spacer {height:1380px}
#elibrarian_inquiry_spacer {height:10px}
#book_for_book_clubs_reservation_spacer {height:910px}
#book_for_book_clubs_registration_spacer {height:700px}
#email_notification_request_spacer {height:1100px}
#membership_request_spacer {height:1600px}
#feedback_spacer {height:600px}
#proctor_spacer {height:1390px}
#review_spacer {height:10px}
#newsletter_spacer {height:200px}


/* HTML elements */	
/* Hides from IE5-mac \*/
* html .details {height: 1%;}
/* End hide from IE5-mac */ 


/* Hides from IE5-mac \*/
* html .entry {height: 1%;}
/* End hide from IE5-mac */ 

body {background-color:#004D8C;margin: 0px 0px 0px 0px;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12pt}
h1 {position:absolute; font-size:18pt;font-weight:bold; text-transform:uppercase; color:#333333; margin:10px 0px 20px -7px; width:330px; z-index:1}

h2 {font-size: 16pt;font-weight:normal;margin-top:0px;margin-bottom:15px;color:#CC6600}

h3 {font-size: 13pt;font-weight:normal;margin-top:0px;margin-bottom:5px;color:#CC6600}

p {margin-top:0px; font-size:12pt}
hr {color:#ccdce8;border-style:solid;clear:both}
img {border-style:none;}
li {} /* 2007/08/08 removed list-style:none;font-size:10pt; */
ul {margin-left:20px; padding-left:0px}
ol {margin-left:25px; padding-left:0px}


/* Content: text formatting */

.title_caption {font-size:10pt;color:#999999;}
.title_caption a {color:#999999}
.subtitle {color:#999999; font-size:10pt}
#photo_tour {font-size:8pt;font-weight:bold; color:#999999}
#photo_tour .non_current {display:none}
#photo_tour a.current {border:#FF6600 1px solid; display:inline; padding:3px; color:#999999; text-decoration:none}
#photo_tour a.non_current {text-decoration:underline; display:inline}
#photo_tour img {margin:0px 0px 5px 0px; border:#ccdce8 5px solid }
.map_link {float:left; width:300px;margin-bottom:5px;color:#045b8b;font-size:12pt}
.intro {width:90%;margin-top:0px;margin-bottom:20px;margin-right:15px;font-weight:bold; font-size:12pt}
.shortcut {font-size:8pt; color:#000000; height:10px}
.shortcut_bold {font-size:9pt; color:#000000; height:10px; font-weight:bold}
.quote { font-size:12pt; font-weight:bold;color:#999999;}
form.accessibility_form div {display:inline;}
.accessibility_link { position:relative;top:10px;font-size:8pt;font-weight:normal;color:#005D4C;text-transform:uppercase;display:inline;border-style:solid;border-width:0px; cursor:pointer; text-decoration:underline;width:85px;margin:0px; background:#CCCCCC}
.graphic_link_caption {font-size:12pt}
.very_important {display:inline; font-style:italic; font-weight:bold; color:#666666}
.page_index_separator {display:inline; color:#CCCCCC}
.library {background:url(/img/library_icon.gif) no-repeat; margin:0px; padding: 0px 0px 0px 17px; color:#1966a5; font-weight:bold; font-size:10pt}
.library a {display:inline; text-decoration:none; font-size:10pt; color:#1966a5}
.start_time {display:block; line-height:10pt; background:url(/img/time_icon.gif) no-repeat; margin:0px 10px 0px 0px; padding: 0px 0px 0px 17px; font-size:10pt; color:#999999; font-weight:bold}
.start_time a {display:inline; text-decoration:none; font-size:10pt; color:#999999; }
.age_group {display:inline; background:url(/img/age_icon.gif) no-repeat; margin:0px 10px 0px 0px; padding: 0px 10px 0px 17px; font-size:10pt; font-weight:bold; color:#005d4c}
.age_group a {display:inline; text-decoration:none; color:#005d4c; }
.search {display:inline; background:url(/img/search_icon.gif) no-repeat; margin:0px 10px 0px 0px; padding: 0px 10px 0px 17px; font-size:10pt; font-weight:bold; color:#d03179}
.search a {display:inline; text-decoration:none; color:#d03179; }
.category {display:block; background:url(/img/category_icon.gif) no-repeat; margin:0px; padding: 0px 0px 0px 17px; font-weight:bold; color:#45b8b8}
.category a {display:inline; text-decoration:none; font-size:10pt; color:#45b8b8}
.registration {display:block; background:url(/img/registration_icon.gif) no-repeat; font-size:10pt; margin:0px 10px 0px 0px; padding: 0px 10px 0px 17px; font-weight:bold; color:#999999}
.registration a {display:inline; text-decoration:none; font-size:10pt; color:#999999; }
#feature_drive_through {background-image:url(/img/feature_drive_through.gif); background-repeat:no-repeat;height:28px;padding-left:30px}
#feature_computer_lab {background-image:url(/img/feature_computer_lab.gif); background-repeat:no-repeat;height:28px;padding-left:30px}
#feature_business_library {background-image:url(/img/feature_business_library.gif); background-repeat:no-repeat;height:28px;padding-left:30px}
#feature_homework {background-image:url(/img/feature_homework.gif); background-repeat:no-repeat;height:28px;padding-left:30px}
#feature_children {background-image:url(/img/feature_children.gif); background-repeat:no-repeat;height:28px;padding-left:30px}
#feature_wireless_internet {background-image:url(/img/feature_wireless_internet.gif); background-repeat:no-repeat;height:28px;padding-left:30px}
#feature_boardroom {background-image:url(/img/feature_boardroom.gif); background-repeat:no-repeat;height:28px;padding-left:30px}
#feature_fireplace {background-image:url(/img/feature_fireplace.gif); background-repeat:no-repeat;height:28px;padding-left:30px}
#feature_express_checkout {background-image:url(/img/feature_express_checkout.gif); background-repeat:no-repeat;height:28px;padding-left:30px}
#feature_internet {background-image:url(/img/feature_internet.gif); background-repeat:no-repeat;height:28px;padding-left:30px}
#feature_office {background-image:url(/img/feature_office.gif); background-repeat:no-repeat;height:28px;padding-left:30px}
#feature_meeting_room {background-image:url(/img/feature_meeting_room.gif); background-repeat:no-repeat;height:28px;padding-left:30px}
#feature_study_rooms {background-image:url(/img/feature_study_rooms.gif); background-repeat:no-repeat;height:28px;padding-left:30px}
#communities_in_bloom {}
#winterlights {height:46px; background:url(/img/events/winterlights.gif) no-repeat; color:#ccdce8; font-weight:normal; font-size:0px}

.bloom_navigation .bloom_list {font-size:10pt; padding:5px 5px 0px 5px; margin:10px}

.bloom_navigation .bloom_list a {font-size:10pt; display:block; padding-top: 10px}
#bloom_tip {font-size:10pt; font-weight:bold; color:#666666; padding-top: 10px}
#vaughan_blooms_link {padding-top: 10px}


.asianheritage_navigation .asianheritage_list h3 {font-size:11pt; font-weight:bold; color:#666666; margin:5px 0px 5px 5px; text-decoration:none}
.asianheritage_navigation .asianheritage_list a {font-size:10pt; display:block; padding:4px 0px 0px 5px; margin-top:2px; }

#new_arrivals_table {border-style:none;border-width:0px;padding:5px;float:left; width:90%;background:#000000}
#new_arrivals_table td { text-align: left; }

.justreturned_index {float: left; width: 200px; padding: 5px; display: inline}
.justreturned_item_entry {float: left; width: 90%; padding-bottom: 20px}
.justreturned_item_entry h2 {margin-top: 20px}
.justreturned_item {float: left; width: 100%; display: block; padding-bottom: 20px}
.justreturned_item_img {display: none;}
.justreturned_item_detail {display: inline-block;}

.populardvds_index {float: left; width: 250px; padding: 5px; display: inline}
.populardvds_item_entry {float: left; width: 90%; padding-bottom: 20px}
.populardvds_item_entry h2 {margin-top: 20px}
.populardvds_item {float: left; width: 100%; display: block; padding-bottom: 20px}
.populardvds_item_detail {display: inline-block;}
.populardvds_item_lable{font-weight:bold; color:#767879}

.apps {width: 100%; margin: 0px 0px 25px 0px;}
.apps .link a {float:left; margin-bottom:10px; padding-top:10px;font-weight:regular; color:#1966a5; text-decoration: none;}
.apps img {display: inline; width: 64px; float:left}
.apps .title {font-size: 12pt;font-weight:normal;color:#CC6600;margin-top:0px;margin-bottom:5px;}
.apps .subtitle {font-size: 100%; font-style: regular; padding-top: 1px; color: #000000 !important;} 
.apps ul {clear: both; padding: 0px; margin: 0px} 
.apps ul li {width: 40%; list-style-type: none; padding-left: 20px; margin: 0px 0px 5px 0px; }
.apps ul li a {font-size: 12px;}
.apps a {font-size: 12px;}

.ocw_widget{ width:244px; border:6px solid #7f7f7f; background:#fff; padding:3px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; font-family:Calibri, Arial, Helvetica, sans-serif !important; box-shadow:#aaa 2px 2px 2px; -moz-box-shadow:#aaa 1px 1px 2px; -webkit-box-shadow:#aaa 1px 1px 2px}
.ocw_widget #ocw_header{ font-size:22px; font-weight:normal; text-shadow:#ccc 1px 1px 1px;}
.ocw_widget #ocw_footer{ font-size:15px; font-style: italic; text-align: center; color:#e46c0a; padding-bottom: 3px}
.ocw_widget #ocw_header img {float: left; display: none}
.ocw_widget .txt_orange{ font-size:15px; font-style: italic; color:#e46c0a; text-decoration:none}
.ocw_widget a#courtesy_url1 {display: inline; color:#e46c0a}
.ocw_widget .txt_orange2{ font-size:15px; color:#e46c0a; text-decoration:none}
.ocw_widget ul { margin-left: 30px; padding-left: 10px; font-size:16px;}
.ocw_widget ul li { margin: 0; padding: 0;}
.ocw_widget ul li a{ color:#333; text-decoration:none; display: block}
.ocw_widget ul#owc_cat_art {list-style-image: none; clear: left}
.ocw_widget ul#owc_cat_bus {list-style-image:none}
.ocw_widget ul#owc_cat_com {list-style-image:none}
.ocw_widget ul#owc_cat_hea {list-style-image:none}
.ocw_widget ul#owc_cat_hum {list-style-image:none}
.ocw_widget ul#owc_cat_mat {list-style-image:none}
.ocw_widget ul#owc_cat_sci {list-style-image:none}
.ocw_widget ul#owc_cat_soc {list-style-image:none}
.ocw_widget ul li a:hover{ text-decoration:underline}

/* Content: organization areas */

.entry {clear:both; margin-top:10px; margin-bottom:25px}
.leftdiv {display:block; font-size: 12pt}
.rightdiv {display:block;}
.link_rss {margin-bottom:0px;}
.entry img {float:left; margin: 0px 20px 10px 0px}
.directory_entry {width:216px; height:152px; float:left; padding:20px 20px 0px 20px; margin: 0px 0px 0px 0px; overflow:hidden}

.link_up_to_top {background-image:url(/img/icon-arrow-up.gif);width:100px;height:15px;display:block; float:right; margin:0px 0px 0px 0px}


.img_wrapped_right {display:none}
.img_wrapped_left {display:none}

.newsletter_entry {clear:both; margin-top:10px; margin-bottom:25px}
.newsletter_entry img {display: none;}
.newsletter_entry p {clear: both; margin-top:2px; margin-bottom: 2px}
.newsletter_entry br {clear: both}

.directory_entry p,.simple_directory_entry p {margin-top:20px}
.directory_entry .name, .simple_directory_entry .name {color:#004D8C; font-size:10pt;font-weight:bold;margin-bottom:5px}
.directory_entry .name a, .simple_directory_entry .name a {font-size:12pt}
.directory_entry a, .simple_directory_entry a {font-size:8pt}
.simple_directory_entry {width:215px; height:85px; float:left; margin-right:20px; margin-top:10px;overflow:hidden}

.feature_chart {width:270px; border-style:none;border-width:1px;border-color:#ccdce8;float:left;margin-top:20px;margin-bottom:20px;}
.feature_chart ul {margin:0px;padding:0px;list-style:none;font-size:8pt;}
.feature_chart li {float:left;font-size:8pt;border-bottom-style:dotted;border-bottom-width:0px;border-color:#CCCCCC;display:block;width:103px;float:left;padding-bottom:5px;margin-left:0px}
.feature_chart h3 {margin-bottom:15px}

.time_table {border-style:solid;border-width:0px;border-color:#ccdce8;padding:4px;font-size:10pt;margin-top:0px;margin-bottom:0px;margin-right:20px;float:left}
.time_table .entry {border-bottom-style:dotted;border-width:1px;border-color:#CCCCCC;display:block;width:245px;margin:0px}
.time_table .entry .name {float:left;width:100px;color:#666666;font-weight:bold}
.time_table .note {border-bottom-style:dotted;border-bottom-width:1px;border-color:#CCCCCC;display:block;width:235px;padding:5px 0px;font-size:10pt}

.item_table {border-style:solid;border-width:0px;border-color:#ccdce8;padding:4px;font-size:12pt;margin-top:0px;margin-bottom:0px;margin-right:20px;float:left; width:90%}
.item_table .entry {border-bottom-style:dotted;border-width:1px;border-color:#CCCCCC;display:block;margin:0px; padding:5px 0px 5px 0px}
.item_table .entry .name {float:left;width:65%;color:#666666;font-weight:bold}
.item_table .note {border-bottom-style:dotted;border-bottom-width:1px;border-color:#CCCCCC;display:block;padding:5px 0px;font-size:10pt}
.item_table .entry .name_narrow {float:left;width:20%;color:#666666;font-weight:bold}
.item_table .entry .value_wider {float:right;width:80%;color:#666666;font-weight:bold}

.list_with_summary {margin:10px 10px 10px 0px;display:table;clear:both}
.list_with_summary .name {width:150px;float:left;margin-right:20px;margin-bottom:10px;padding-top:10px;font-weight:bold}
.list_with_summary a {color:#1966a5}
.list_with_summary .summary {float:left;border-left-style:solid; border-left-width:3px; border-color:#ccdce8;padding:10px;color:#666666; width:250px}
.list_with_summary .compact_summary {float:left; white-space:nowrap;border-left-style:solid; border-left-width:3px; border-color:#ccdce8;padding:10px;color:#666666;}

.important_note {border-style:solid;border-width:1px; border-color:#000000;padding:10px}

.collection_navigation {display:none}

.subject_list {color:#1966a5; padding:0px 0px 0px 0px}
.subject_list .subject_item {margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; list-style-image:url(../img/list_item_closed.gif)}
.subject_list .subject_item_current {margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; list-style-image:url(../img/list_item_current.gif); font-weight:bold}
.subject_list .subject_item_2 {margin:0px 0px 0px 10px; list-style-image:url(../img/list_item_2_closed.gif)}
.subject_list .subject_item_2_current {margin:0px 0px 0px 10px; list-style-image:url(../img/list_item_2_current.gif); font-weight:bold}

.book_list {margin-bottom:20px}
.book_list .title {display:inline; font-weight:bold; color:#1966a5}
.book_list .author {display:inline; color:#666666}
.book_list input.catalog_link {display:block; padding:0px; font-size:9pt; width:85px; border:#666666 0px none; background:none; text-decoration:underline; cursor:pointer; color:#666666}
.book_list a.catalog_link {display:block; padding:0px; font-size:8pt; border:#666666 0px none; background:none; text-decoration:underline; cursor:pointer; color:#666666}
.book_list .title_block {display:block;}
.book_list .author_block {display:block; color:#666666}

.tip_entry {width:215px; height:85px; float:left; margin-right:20px; margin-top:10px;overflow:hidden}
.tip_entry_new {width: 90%; float:left; margin-right:20px; margin-top:10px; margin-bottom:10px}
.tip_entry_new .name a {color:#cc6600; font-size:11pt}
.tip_entry_new a {font-size:8pt;  font-style: italic}
.tip_entry_new .src {font-size:8pt;  font-style: italic}
.tip_entry_new .name {color:#004D8C; font-size:10pt;font-weight:bold;margin-bottom:5px}
.tip_entry_new p {margin-top:10px}
.tip_entry_new em {color: #1966A5}

.popup {display:none; position:absolute; top:400px; border:#666666 2px solid; background:#CCCCCC; padding:10px; font-size:8pt}

.search_bar {padding:8px}
.search_bar form {margin:0px}

.search_results ul {list-style:none; margin:0px; padding:15px 15px 15px 0px}
.search_results li {margin-bottom: 10px}
.search_results .name {font-weight:bold}
.search_results .technical_details {color:#666666}
.search_results .data {display:inline; font-weight:bold; margin:0px 3px 0px 0px}
.search_results .url {color:#009933}
.search_results .opening {padding:15px 15px 0px 0px}
.search_results .closing {padding:0px 15px 15px 15px}

.footnotes {clear:both; border:#CCCCCC 1px; border-top-style:solid; margin:5px 0px 0px 0px; padding:5px 0px 10px 0px; font-size:10pt}
.footnotes h2 {font-size: 12pt; margin:0px; padding:0px}
.footnotes h3 {font-size: 12pt; margin:5px 0px 0px 0px}
.footnotes ol ol li { list-style:lower-roman}
.footnote_pointer {font-size:8pt}

.newsletternotes {clear:both; border:#CCCCCC 0px; border-top-style:none; margin:5px 0px 0px 0px; padding:5px 10px 10px 0px; font-size:10pt; background:#FFFFFF}
.newsletternotes ol li {padding-bottom: 10px}

#calendar {margin:5px 0px 0px 0px; width:209px; height: 168px; font-size:10pt; padding: 20px 0px 0px 19px}
#calendar h2 {display:inline}
#calendar h3 {margin:-3px 0px 6px 0px; display:block; font-size:10pt; font-weight:bold; text-transform:uppercase; text-align:center; width:205px}
#calendar table {margin:0px 0px 0px 0px}
#calendar td {text-align: center; width:20px; line-height:13px}
#calendar .weekdays {font-weight:bold; color:#333333}
#calendar .prev_month {text-align:left}
#calendar .next_month {text-align:right}
#calendar .day_another_month a {text-decoration:none; color:#999999;font-weight:bold;}
#calendar .day_current a {text-decoration:none; color:#cc6600;font-weight:bold;}
#calendar .day_regular a {text-decoration:none; color:#555555;font-weight:bold;}
#calendar .day_target a {text-decoration:none; color:#555555;font-weight:bold; background:#CCCCCC}
#calendar .previous {float:left; width:9px; height:11px; overflow:hidden; font-size:0px;color:#ffffff; background:url(/img/previous_month.gif);}
#calendar .next {float:right; width:9px; height:11px; overflow:hidden; background:url(/img/next_month.gif); font-size:0px;color:#FFFFFF; margin:0px 40px 0px 0px}
#calendar .calendar_nav_link {font-size:0px;color:#ffffff; margin:-100px -100px 0px 0px; width:0; height: 0; overflow:hidden; }

.calendar_day {clear:both; width:60px; height:65px; float:left; text-align:center; padding:5px 0px; margin:0px 5px 10px 0px; color:#666666; border:#666666 1px solid}
.calendar_day .month {font-size:8pt; text-transform:uppercase; font-weight:bold; margin:0px 3px 0px 0px; padding:4px 0px 0px 0px}
.calendar_day .year {display:none}
.calendar_day .day {font-size:18pt; font-weight:bold;margin:-3px 3px 0px 0px}
.calendar_day .day a {text-decoration:none; color:#666666}
.calendar_day .weekday {font-size:8pt; text-transform:uppercase; font-weight:normal; margin-right:3px}
.calendar_day_spacer {clear:both; width:66px; height:77px; float:left; text-align:center; padding:5px 0px; margin:0px 5px 10px 0px; color:#666666}

.event_day {border:#999999 1px; border-top-style:dotted; padding:10px 0px 0px 0px}
.event_day ul {float:left; margin:0px}
.event_day ul li { list-style:none; margin-bottom:0px;clear:both; margin:0px 35px 10px 0px;padding:0px 0px 5px 0px}
.event_day ul li h2 {font-size:12pt; margin-bottom:0px; font-weight:bold; padding:2px 0px 3px 0px}
.event_day ul li .description {display:none}
.event_day ul li .description img { float:left; margin:0px 10px 5px 0px}
.event_day ul li .event_details {width:95%; font-size:12pt; margin:5px 0px; display:block; border:#CCCCCC solid; border-width:1px 0px 0px 0px; padding:5px 0px}
.event_day ul li .event_details img { float:left; margin:0px 10px 5px 0px}

.event_day.main .calendar_day {width:100px; height:110px; float:left; text-align:center; padding:5px 0px; margin:0px 10px 10px 0px; color:#666666}
.event_day.main .calendar_day .month {font-size:8pt; text-transform:uppercase; margin:0px 7px 0px 0px; padding:9px 0px 0px 0px}
.event_day.main .calendar_day .year {display:none}
.event_day.main .calendar_day .day {font-size:36pt; font-weight:bold; margin:-3px 7px 0px 0px; color:#666666; text-decoration:none}
.event_day.main .calendar_day .weekday {font-size:8pt; text-transform:uppercase; margin-right:7px}

.event_day.main {border:none}

.event_day.main .level_1 {float:left; width:73%; margin:0px 0px 0px 0px}
.event_day.main .level_1 h2 {font-size:16pt; font-weight:normal}
.event_day.main .level_1 .description {font-size:12pt; margin:5px 0px; display:block; border:#CCCCCC solid; border-width:1px 0px; padding:5px 0px}

.event_day.main .level_2 {clear:both; width:100%}
.event_day.main .level_2 li {background:url(/img/event_level2.gif) no-repeat; clear:none; float:left; width:40%; margin:10px 10px 10px 0px; padding:10px; overflow:hidden; border:#dddddd 0px; border-top-style:solid}
.event_day.main .level_2 h2 {margin:0px 0px 3px 0px; font-size:13pt; font-weight:normal}
.event_day.main .level_2 .description {font-size:8pt; margin:5px 0px; display:block; border:#CCCCCC solid; border-width:1px 0px; padding:5px 0px}

.event_day.main .level_3 {margin: 0px 0px 30px 0px; clear:left; width:80%}
.event_day.main .level_3 li {margin-bottom:5px;clear:both; border-top-style:dotted; border-width:1px; border-color:#666666;margin-right:35px;padding-top:0px;padding-bottom:5px}
.event_day.main .level_3 li.borderless {margin: 0px 0px 5px 0px;clear:both; border-top-style:none;}
.event_day.main .level_3 h2 {font-size:12pt; margin-bottom:0px; font-weight:bold; padding:2px 0px 3px 0px}
.event_day.main .level_3 .description {font-size:12pt;  width:100%; display:block; border:#CCCCCC solid; border-width:1px 0px 0px 0px; padding:2px 0px}

.level_1 .campaign {margin: 0px 0px 20px 0px; border:#ccdce8 solid; border-width: 0px 0px 0px 0px; padding: 0px 0px 10px 0px}
.level_1 .campaign img {display:none}
.level_1 .campaign .content {width: 73%}

.level_2 .campaign {float:left; width: 43%; margin: 0px 0px 0px 0px; border:#ccdce8 solid; border-width: 0px 0px 0px 0px; padding:5px 20px 10px 0px}
.level_2 .campaign h2 {font-size:16px; font-weight:bold}
.level_2 .campaign img {display:none}

.level_3 .campaign {float:left; width: 27%; margin: 0px 10px 20px 0px; border:#ccdce8 solid; border-width: 0px 0px 0px 0px; padding:0px 20px 0px 0px}
.level_3 .campaign h2 {font-size:14px; font-weight:bold}
.level_3 .campaign img {width:110px; float:left; margin: 0px 10px 0px 0px; border:#CCCCCC 1px solid}

.excerpt {width:195px; background:#fff3da; padding: 10px; color:#666666; font-style:italic; border:#fae6bb solid; border-width:5px 0px}

#atl_download a, #donate a, #ask_on a {display:block; margin:10px 0px 0px 0px; width:209px; height: 10px; font-size:10pt; padding: 20px 0px 0px 19px; font-size:10pt}

/* Content: data entry */

form {display:inline; padding:0px 0px 0px 0px; border-style:none; border-width:1px; border-color:#FFCC99; vertical-align:top}
fieldset {float:none; padding:5px 0px 7px 5px; margin:3px 0px 0px 0px; width:520px; border: #000000 solid; border-width:1px 0px 0px 0px}
fieldset legend {margin:10px 0px 10px 0px; font-size:12pt; color:#666666; font-weight:bold}
fieldset .field_label {color:#999999; font-size:10pt; border:#CCCCCC solid; border-width:0px 0px 0px 0px; width:100px; clear:left; float:left; padding:2px 3px 2px 0px; margin:2px 2px 0px 0px; text-align:right; font-weight:bold}
fieldset .field_label.title {background:none}
fieldset .field_input {border-style:none; padding:2px 2px 2px 2px; border-width:1px; border-color:#3333FF; float:left; width:405px; margin:2px 0px 0px 0px}
fieldset .error_message {border-style:none; padding:2px 2px 2px 130px; border-width:1px; border-color:#3333FF; clear:left; width:380px; margin:0px 0px 0px 0px; color:#ff0000; font-weight:normal; background: no-repeat url(/img/error_indicator.gif)}
fieldset .field_input ul {margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; list-style:none; border:#000000 1px none}
fieldset .field_input li {margin:0px 20px 0px 0px; border:#660066 1px none}
fieldset .complex {float:left; width:162px; border:#333333 1px none; padding:0px}
fieldset .complex_2 {float:left; width:45px; border:#333333 1px solid}
fieldset .mandatory_indicator {}

fieldset .field_value {border-style:none; padding:2px 2px 2px 2px; border-width:1px; border-color:#3333FF; float:left; width:405px; margin:1px 0px 1px 0px; background-color:#dbe4c6}
fieldset .field_value div {padding:0px 20px 0px 0px}
fieldset .field_value ul {margin:0px 0px 0px 0px; padding:0px 0px 0px 20px; border:#000000 1px none}
fieldset .field_value li {border:#660066 1px none; padding-right:10px}

fieldset input {font-size:10pt}
fieldset select {font-size:10pt}

.form_button {border:1px solid #CCCCCC; margin:5px; background:#58918f; color:#FFFFFF; font-weight:normal; font-size:8pt; cursor:pointer}
.submit_button {border:3px solid; margin:10px; padding:5px; float:right; background:#666666; color:#FFFFFF; font-weight:bold}

.express_login_field {float:left; margin:0px 2px 0px 2px}

/* Style for Evergreen Award Page */
#evergreen img_left {float: left; padding-right:8px; padding-bottom:5px;height: 100px;width: 64px;}
#evergreen table {margin-left:20px;	vertical-align:middle;text-align: left;	width: 80%;	border-style: none;}
div.greenButton input {
	background:url(/img/evergreen/evergreen_button.png) no-repeat;
	cursor:pointer;
	width: 150px;
	height: 45px;
	border: none;
	float: right;	
	text-indent: -3000px;
}
.evergreen_msg {border-style:solid;border-width:1px; border-color:#ccdce8;background-color:#F5F8FA;padding:10px;text-align: left;color:#cc6600}








/* 

Discarded
=========
.input_hidden {display:none; width:0px}
.service_link {color:#FFFFFF; font-size:8pt}
.microsite_content {border:#669999 2px solid; padding:0px 0px 10px 0px}
.microsite_content .directory_entry {margin-left:5px}
.microsite_header {background:#669999 url(/img/collection_header_left.gif) no-repeat top left; padding:10px 20px 10px 10px; color:#FFFFFF; font-weight:bold; height:115px}
.microsite_header img {margin:0px 0px 0px 10px; float:right}
.microsite_header a {color:#99CCCC}
.microsite_header h2 {color:#99CCCC}
.microsite_search_bar {background:#ccdce8; padding:8px}
.microsite_search_bar form {margin:0px}
.microsite_search_bar input {display:inline; float:none; margin:0px}
.microsite_search_results ul {list-style:none; margin:0px; padding:15px 15px 15px 15px}
.microsite_search_results li {margin-bottom: 10px}
.microsite_search_results .name {font-weight:bold}
.microsite_search_results .technical_details {color:#666666}
.microsite_search_results .data {display:inline; color:#CC6600; font-weight:bold; margin:0px 3px 0px 0px}
.microsite_search_results .url {color:#009933}
.microsite_search_results .opening {float:none; padding:15px 15px 0px 15px}
.microsite_search_results .closing {float:none; padding:0px 15px 15px 15px}
form {display:inline}
form label {display:block;border-width:1px;border-top-style:solid;border-color:#ccdce8; font-style:italic;font-weight:bold;padding-left:10px;color:#1966a5}
fieldset {display:inline; border::#666666 1px solid; margin:0px; padding:0px}
.input_box {margin-left:10px;margin-top:2px}
.option_group {margin-left:10px}
.error_message {margin-left:10px;color:#FF0000}
.field {margin-bottom:10px}
.scripted_field {margin-bottom:10px;display:none;}
.field p, .scripted_field p {font-size:8pt;padding:10px 0px 0px 10px;margin:0px}
.field ul {padding:10px 0px 0px 10px;margin:0px}
#menu_container_news_and_events {top:116px}
#menu_container_services {top:130px}
#menu_container_services_membership {top:158px}
#menu_container_services_internet {top:470px}
#menu_container_services_website {top:490px}
#menu_container_services_website_privacy {top:540px}
#menu_container_materials {top:185px}
#menu_container_materials_catalogues {top:215px}
#menu_container_materials_recommended {top:345px}
#menu_container_participate {top:220px}
#menu_container_account {top:250px}
#menu_container_about {top:310px}
#menu_container_about_libraries {top:335px}
#menu_container_community {top:320px}
#menu_services {top:165px}
.search_bar input {display:inline; float:none; margin:0px}
.prev_item {background-image:url(/img/prev_item.gif);width:29px;height:29px;display:block}
.next_item {background-image:url(/img/next_item.gif);width:29px;height:29px;display:block;float:right}

//	#multipurpose_area {position:absolute; top:50px; left:187px; font-size:8pt; color:#FFFFFF; width:43%; overflow:hidden}
//	#multipurpose_area {position:absolute; top:50px; font-size:8pt; color:#FFFFFF; width:43%; overflow:hidden;margin-left:25%}
#multipurpose_area {position:absolute; height:90px; top:50px; width:100%}
#multipurpose_area .opening {}
#multipurpose_area .details {}

.event_category {margin-bottom:0px;clear:both; border-style:none;margin-right:35px;padding-top:0px;padding-bottom:5px;}
.event {margin-bottom:20px;clear:both}
.event .when {margin-right:35px;font-size:8pt;color:#666666}
.event .what {margin-right:35px;font-size:8pt}
.event .library {margin-top:3px}
.event .library a {margin-top:3px; border-style:none; padding:2px; display:inline;border-width:1px;text-decoration:none;font-size:8pt; background:#DDDDDD}
.event_short {margin-bottom:0px;clear:both; border-top-style:dotted; border-width:1px; border-color:#666666;margin-right:35px;padding-top:0px;padding-bottom:5px}
.event_short h3 {font-size:8pt; margin-bottom:0px; font-weight:bold; }
.event_short .when {margin-right:35px;font-size:8pt;color:#666666;background-color:#e2f3ff;width:100%;padding-top:3px;padding-bottom:3px}
.event_short .what {margin-right:35px;font-size:8pt}
.event_short a {text-decoration:underline;color:#1966a5}
.event_short .library {margin-top:3px}
.event_short .library a {margin-top:3px; border-style:none; padding:2px; display:inline;border-width:1px;text-decoration:none;font-size:8pt; background:#DDDDDD}
.current_selection {border:#333333 dotted; border-width:0px 0px 1px 0px; padding: 0px 0px 5px 0px; color:#666666; font-weight:bold}
.bread_crumbs {font-size:8pt; background:#666666; position:absolute; top:194px; left:198px; height:18px; width:320px; display:block; background:url(/img/breadcrumb_background.gif)}
.bread_crumbs .opening {height:18px; width:10px; background:url(/img/breadcrumb_left.gif)}
.bread_crumbs .closing {height:18px; width:10px; background:url(/img/breadcrumb_right.gif)}
.bread_crumbs .details {padding:2px 0px 0px 0px}
.bread_crumbs a {color:#FFFFFF; text-decoration:none}
#shortcut_area {height:35px;background-image:url(/img/shortcut_area_background.gif);background-repeat:repeat-x;font-size:8pt; color:#FFFFFF;overflow:hidden;}
#shortcut_area .opening {height:35px;width:27px;background-image:url(/img/shortcut_area_left.gif);display:inline;}
#shortcut_area .details {}
*/
